.projects-box {
    transition: box-shadow .3s;
    transition: transform .4s;
    
  }

.projects-box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform:scale(1.01);
  }

  .custom-nav{
    -webkit-tap-highlight-color:transparent;
    -webkit-user-select: none;
  }
  /*#A0A0A0 #0099cc -blue*/

  .title-shadow{
    text-shadow: 1px 1px #a9b2d5, 
                2px 2px #a9b2d5, 
                3px 3px  #a9b2d5,
                4px 4px	 #a9b2d5;
  }

  .active{
    
  }

  .img-blur{
    
  }